<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="color-scheme" content="light dark" />
    <title>Directory Listing for {{path}}</title>
    <style>
      h2, a {
        text-decoration: none;
        overflow-wrap: anywhere
      }

      li {
        font-size: large
      }

      ul {
        padding-inline-end: 40px
      }

      .dir:link {
        color:hsl(240, 100%, 50%)
      }

      .dir:visited {
        color:hsl(240, 100%, 35%)
      }

      .file:link {
        color:hsl(16, 100%, 50%)
      }

      .file:visited {
        color:hsl(16, 100%, 35%)
      }

      @media (prefers-color-scheme: dark) {
        .dir:link {
          color:hsl(195, 90%, 55%)
        }

        .dir:visited {
          color:hsl(195, 90%, 40%)
        }

        .file:link {
          color:hsl(43, 90%, 55%)
        }

        .file:visited {
          color:hsl(43, 90%, 40%)
        }
      }
    </style>
  </head>
  <body>
    <h2>Directory Listing for {{path}}</h2>
    <ul>
      {{#contents}}
        <li>
          <a class="{{type}}" href="{{url}}">{{name}}</a>
        </li>
      {{/contents}}
    </ul>
  </body>
</html>
